<app-google-maps></app-google-maps>
<hr/>
<md-card *ngFor="let spot of spots">
  <!-- <img md-card-image [alt]="location.name" [src]="location.image"> -->

 <md-card-title><span>{{spot.name}} <md-icon class="icon_grade" (click)="onNavigate()">grade</md-icon></span></md-card-title>
 <md-card-content class="secondary">
      {{spot.address}}
 </md-card-content>
 <md-card-actions>
    <!-- <button md-raised-button><a [routerLink]="['city']">Show More</a></button> -->
    <button md-raised-button (click)="onNavigate()">Show More</button>
    <button md-raised-button color="primary">Share</button>
  </md-card-actions>
</md-card>
