md-sidenav-layout {
  margin-buttom: 50px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 60px;
  width: 100%;

}

md-input {
  color: white;
  font-size: 18px;
  left: 30px;
}

.icon_home {
  margin:0 auto;
}

.homescreen_headline {
  margin-left: 16px;
}
